*.cache
*.dll
*.exe
*.pdb
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
*.config
*.vsidx
*.lock
*.dll
*.pdb
*.dll
*.json
*.cache
*.txt
*.editorconfig
*.json
WebApplication1/bin/Debug/net6.0/WebApplication1.pdb
WebApplication1/obj/Debug/net6.0/WebApplication1.assets.cache
WebApplication1/obj/Debug/net6.0/WebApplication1.assets.cache
WebApplication1/obj/Debug/net6.0/WebApplication1.GeneratedMSBuildEditorConfig.editorconfig
